
<form autocomplete="off" #editUserModal="ngForm" (ngSubmit)="onSaveClick()">
    <h1 mat-dialog-title>{{ "Edit CMS" | localize }}</h1>
    <mat-dialog-content style="width:800px;height:250px;">
        <mat-tab-group>
            <mat-tab [label]="'CMS Details' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">


                        <mat-form-field>
                            <input matInput
                                   name="PageName"
                                   [placeholder]="'PageName' | localize"
                                   [(ngModel)]="pageName"
                                   required
                                   minlength="2"
                                   maxlength="32" />
                        </mat-form-field>
                     

                        <textarea [froalaEditor]
                                  name="Data"
                                  [placeholder]="'Data' | localize"
                                  required
                                  minlength="2"
                                  maxlength="50"
                                  [(ngModel)]="htmlContent">
                    </textarea>



                        <!--<button mat-button
            mat-flat-button
            flex="15"
            color="primary"
            type="button"
            (click)="editPage(false)">
        {{ "Edit" | localize }}
    </button>-->
                        <!--<div class="checkbox-wrapper">
        <mat-checkbox name="IsActive" [(ngModel)]="inedit">
            {{ "inedit" | localize }}
        </mat-checkbox>
    </div>-->
                    </div>

                </div>
            </mat-tab>

        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                color="primary"
>
            {{ "Save" | localize }}
        </button>
    </div>
</form>

